// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.


.page,
.post {
  margin-bottom: 1rem;

  li + li {
    margin-top: .25rem;
  }
  a:visited, a:hover { color: $base-link-color; }
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  //text-align: center;
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

// Meta data line below post 
.post-date {
  font-size: .75rem;
  font-style: italic;
  display: block;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #9a9a9a;
  float: left;
}


.share-posts, .read-next {
  a:visited { color: $visited-link-color; }
  a:hover { color: $hover-link-color; }
}

.share-posts {
  clear: both;
  padding-bottom: .5rem;
  font-size: .8rem;

  a { 
    @include border-radius(5px);
    border: 1px solid $gray-2;
    color: inherit;
    background: lightgreen;
    vertical-align: middle;
    margin-left: .25rem;
    padding: .25rem;

  }

}


.in-post-taglist li{
	display: inline;
	list-style-type: none;
	color: gray;
	text-align: center;
}

.in-post-taglist {
	padding-bottom: 1rem;
}

.tags-full-list{
	margin-bottom: 1rem;
}

.fa-tag {
	padding: 5px;
	color: #6a9fb5;
	background: rgba(106, 156, 177, 0.2);
	text-align: center;
	border-radius: 4px;
	padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    text-decoration:none;
    margin: 0.3rem;
    
    -webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.fa-tag:hover {
	background: #6a9fb5;
	color: #fff;
}

.simple-tag {
	text-decoration: none;
	padding: 0.2rem;
}

.tags-postlist{
	border-top: 1px solid #eee;
	padding-top: 1rem;
}

.tag-post {
	list-style-type: circle;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.tag-post li:hover {
	list-style-type: disc;
    padding-left: 0.5rem;
	
}
